html, body, #root {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0;
    height: 100%;
    width: 100%; /* Add this to ensure full width */
    display: flex;
    flex-direction: column; /* Flex direction to allow stacking of elements */
    background-color: #f5f5f5;
}
